@import url('https://fonts.googleapis.com/css2?family=Charis+SIL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Charis+SIL&display=swap');
*{
    margin: 0;
    text-align: center;
}
h1,h2{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 3em;
}
.classy, main h2{
    font-family: 'Charis SIL', serif;
}
main button{
    font-size: 3em;
}

.ans{
    text-decoration: underline;
}
